
@model PagedList.IPagedList<MvcPL.Models.UserViewModel>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" />


@{
    
    ViewBag.Title = "Admin";
}


<p>
    <ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink("Create New User", "Register")</li>
        <li>@Html.ActionLink("Role", "Index", "Role")</li>
        <li>@Html.ActionLink("Knowledges", "Index", "Knowledge")</li>

    </ul>
</p>
 
<img id="loading" src="~/Content/477.GIF" style="display:none;position: fixed; top: 45%; right: 50%;" />
<div id="jsEnabled" style="visibility: hidden">
    <p id="results">
        @Ajax.ActionLink("Find", "Find", "UsersKnowledge", new AjaxOptions { HttpMethod = "GET", UpdateTargetId = "results" })
    </p>
</div>
<div id="jsDisabled">  
    Please, enable JS!
</div>

<div id="1212">
<table class="table">
    <tr>
        <th>
            @Html.DisplayName("Id")
</th>
        <th>
            @Html.DisplayName("Photo")
        </th>
        <th>
            @Html.DisplayName("Name")
        </th>
        <th>
            @Html.DisplayName("Email")
        </th>
        <th></th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.UserId)
            </td>
            <td>
                @if (item.Photo != null)
                {
                    @Html.Raw("<img style='width:80px; height:100px;' src=\"data:image/jpeg;base64,"
                                + Convert.ToBase64String(item.Photo) + "\" />")
                }
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { Id = item.UserId }) |
                @Html.ActionLink("Details", "Details", new { Id = item.UserId }) |
                @Html.ActionLink("Delete", "Delete", new { Id = item.UserId })

            </td>
            <td>
                @Html.Action("CertainKnowledgeOfUser", "UsersKnowledge", new { id = item.UserId })
            </td>
        </tr>
    }

</table>
Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) from @Model.PageCount

@Html.PagedListPager(Model, page => Url.Action("DetailsForAdmin", new { page }),

  PagedListRenderOptions.EnableUnobtrusiveAjaxReplacing(new PagedListRenderOptions
  {
      LinkToFirstPageFormat = "<<",
      LinkToPreviousPageFormat = "Back",
      LinkToNextPageFormat = "Forward",
      LinkToLastPageFormat = ">>"
  }

              , new AjaxOptions()
              {
                  HttpMethod = "GET",
                  UpdateTargetId = "1212",
                  LoadingElementId = "loading"
              }))

</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
<script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>

<script language="javascript" type="text/javascript">
    function checkJavaScriptValidity() {
        document.getElementById("jsEnabled").style.visibility = 'visible';
        document.getElementById("jsDisabled").style.visibility = 'hidden';
    }
</script>

<body onload="checkJavaScriptValidity()">
</body>


}