@model MvcPL.Models.UserViewModel
@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.UserId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserId)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Photo)
        </dt>
        <dd>
            @if (Model.Photo != null)
            {
                @Html.Raw("<img style='width:80px; height:100px;' src=\"data:image/jpeg;base64,"
                                + Convert.ToBase64String(Model.Photo) + "\" />")
            }
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>
        @*<dt>
                @Html.DisplayNameFor(model => model.Password)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Password)
            </dd>*@

        @*<dt>
                @Html.DisplayNameFor(model => model.RoleId)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.RoleId)
            </dd>*@

        @*<dt>
                @Html.DisplayNameFor(model => model.RememberMe)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.RememberMe)
            </dd>*@

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { Id = Model.UserId })

</p>
@Html.Action("CertainKnowledgeOfUser", "UsersKnowledge", new { Id = Model.UserId })
